.stadiumDetailWrap {
    width: 100%;
    padding: 5rem 0;
    position: relative;

    .information {
        width: 100%;
        margin-top: 1rem;

        .text {
            padding: 0 1rem;
            display: flex;
            gap: 12px;
            align-items: end;
            margin-bottom: 1rem;

            p {
                color: #ccc;
                margin-bottom: 6px;
            }
        }

        .stadiumPicture {
            margin-top: .5rem;

            img {
                width: 100%;
            }
        }

        .homeTeamInfo {
            margin: 2rem auto;

            h2 {
                padding-left: 1rem;
                margin-bottom: 1rem;
            }

            >div {
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                padding: 1.5rem 1rem;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 24px;

                .homeTeamInfoRight {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    align-self: center;

                    span {
                        margin-left: auto;
                        border-bottom: 1px solid #000;
                    }
                }
            }
        }
    }

    .location {
        width: 100%;
        height: 400px;
        padding: 0 1rem;

        h2 {
            margin-bottom: 2rem;
        }

        iframe {
            width: 100%;
            height: 100%
        }
    }

    .foodWrap {
        margin-top: 8rem;
        padding: 0 1rem;
        h2{
            margin-bottom: 2rem;
        }

        .food {
            width: 100%;
            height: 80vh;
            background-color: #333;
        }
    }
}

///////////////////////////////////////////////////////////////////////////////////////////////

@media (min-width:767px) {
    .stadiumDetailWrap {
        padding: 5rem 10rem;

        .information {
            padding: 0 1rem;

            >div:not(:first-child) {
                display: flex;
                flex-direction: column;
                gap: 3rem;
            }

            .stadiumPicture {
                border-radius: 10px;
                overflow: hidden;
            }

            .homeTeamInfo {
                width: 100%;
                margin: 0;
                border: 2px solid #eee;
                border-radius: 10px;
                padding: 1rem 5rem;

                h2 {
                    margin-bottom: 3rem;
                    font-size: calc(1vw + 0.7rem);
                }

                >div {
                    border: none;
                    padding: 0;
                }

                .homeTeamInfoLeft {
                    width: fit-content;
                    height: fit-content;

                    img {
                        width: 80%;
                    }
                }

                .homeTeamInfoRight {
                    gap: 24px;

                    h3 {
                        font-size: calc(1vw + .5rem);
                    }

                    p {
                        font-size: 1.2rem;
                        font-weight: 600;
                    }

                    span {
                        margin-top: 2rem;
                    }
                }
            }
        }

        .location {
            margin-top: 5rem;
            padding: 0;
        }

        .foodWrap{
            padding: 0;
        }

    }
}

@media (min-width:1200px) {
    .stadiumDetailWrap {
        padding: 5rem 15rem;
    }
}